<div class="n-app">
    <div class="n-col">
        <div class="n-container">
            <div app-bar-left
                 class="n-bar"
                 storage="vm.storage1"
                 sortable-options="vm.sortableOptions"
            ></div>
        </div>
    </div>
    <div class="n-col n-fixed n-col--color">
        <div class="n-container">
            <div app-info class="n-bar"></div>
        </div>
    </div>

    <div class="n-col n-hidden">
        <div class="n-container">
        </div>
    </div>
    <div class="n-col">
        <div class="n-container">
            <div app-bar-right
                 class="n-bar"
                 storage="vm.storage2"
                 sortable-options="vm.sortableOptions"
            ></div>
        </div>
    </div>
</div>