$font-path: '../fonts';
$img-path: '../img';
$tmp-path: '../img/tmp';

$scada-r: 'Scada-Regular';
$scada-b: 'Scada-Bold';
$roboto-t: 'Roboto-Thin';
$roboto-l: "roboto-light";
$roboto-r: 'Roboto-Regular';
$roboto-m: 'Roboto-Medium';
$pt75: 'PTF75F';
$pt55: 'PTF55F';

$max: 1600px;
$mid: 1366px;
$min: 1200px;
$mobile: 830px;